#score
{
	height:20px;
	width:360px;
	margin:0 auto;
	position:relative;
}
#user1
{
	display:inline-block;
	width:33%;
	color:#aeeeee;
	float:left; 
}
#cur_user
{
	display:inline-block;
	width:33%;
	float:left; 
}
#user2
{
	display:inline-block;
	width:33%;
	color:#eeee00;
	text-align:right;
	float:right; 
}

	
#container
{
	width:360px;
	height:360px;
	background-color:#eeeeee;
	position:relative;
	margin:0 auto;
}
#message-box{
	width:360px;
	text-align:left;
}
.color_default
{
	background-color:#cccccc;
}
.color_click_1
{
	background-color:#ff0000;
}
.color_click_2
{
	background-color:#000000;
}
.box
{
	position:absolute;
	width:35px;
	height:35px;
	z-index:2;
}
.row
{
	position:absolute;
	width:40px;
	height:5px;
	z-index:3;
}
.col
{
	position:absolute;
	width:5px;
	height:40px;
	z-index:3;
}